body {
  margin: 0 30%;
}

#logo {
  margin-bottom: 0; 
  padding-bottom: 0;
  font-family: "Arial";
}
 
#labelgreen {
  color: green;
}

#labelred {
  color: red;
}

#hi_username {
  float: right;
  margin-bottom: 0;
}

#logout {
  float: right;
}

#extralogo {
  margin-top: 0; 
  color: green;
}

#tableactivity, tr, #tableactivity tr td {
  border: 1px solid black;
}

#tableactivity {
  width: 100%;
  border-collapse: collapse;
  color: green;
}

#tableactivity tr td {
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  width: 33.33%;
}


#current_activity {
  color: white;
  background-color: #495A46;
}

.rest_activity {
  color: #212121;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 10px;
  font-size: 2em;
  color: #212121;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 6px;
  color: #212121;
}

#ava {
  width: 140px;
  height: 130px;
  margin-left: 24px;
  border: 2px solid black;
}

#tableUser {
  margin: 20px 24px 0 24px;
  width: 472px;
}

.edit_ava {
  float: right;
  margin-right: 40px;
  width: 288px;
  font-size: 0.8em;
}

#avaBox {
  width: 210px; 
}

#browseButton {
  width: 66px;
  float: right;
}

.edit_profile {
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
}

.labelTabel {
  width: 140px; 
  margin-left: 24px;
}

#backButton {
  background-color: #ed1212;
  margin-top: 50px;
  margin-left: 24px;
  padding: 6px 16px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: 'Times New Roman', serif;
  font-size: 1.2em;
}

#saveButton {
  background-color:  #66cc00;
  margin-top: 50px;
  margin-right: 24px;
  float: right;
  padding: 6px 16px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: 'Times New Roman', serif;
  font-size: 1.2em;
}

.box {
  height: 24px;
  width: 280px;
  float: right;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
}


/*
.imgUpload {
    overflow: hidden;
    float: right;
}
.imgUpload input.browseButton {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.imgUpload span {
    font-size: 0.5em;
    background: #D9D9D9;
    padding: 6px;
    border: 1px solid gray;
    border-bottom: 1px solid gray;
}
*/

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  float: right;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #09810A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #09810A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}