
#divTabelProfile{
	height: 160px;
}

#tabelProfile{
	width: 100%;
}

#profilePict {
	border-style: solid;
	width: 140px;
	height: 140px;
}


.containerPict {
	height: 140px;
	width: 140px;
}

#pictProfile {
	height: 100%; 
	width: 100%; 
	object-fit: contain
}


#profileDll {
	width: 50%; 
	padding-left: 50px;
}
#hideButton {
	margin-left: 100px; 
	margin-bottom: 80px;
	width: 80px; 
	height: 35px; 
	background-color: #DA0026;
 	border-radius: 10px;
  	border-color: #000000;

}

#currentDate {
	color: #a6ada7;
	font-family: "Arial";
}

#customerName {
	font-size: 20px;
	font-family: "Arial";

}
#tujuan {
	font-size: 12px;
	font-family: "Arial";
}
#rating #colorRating {
	color: #f7b74a;
}

#comment {
	font-size: 0.9em;
}

#comment #userComment {
	padding-left: 10px;
	font-size: 1em;
}


