@font-face {
    font-family: 'Fjalla One';
    src: url("../fonts/FjallaOne-Regular.ttf");
}

body {
	margin-left: 50px;
}

.content {
	padding:0 30px 100px 20px;
	background-color: #8ABD3C; 
	margin: 50px 30%;
	height: 400px;
	width: 400px;
	border-style: solid;
	border-radius: 15%;
	border-width: 10px;
	border-color: #066E27;
}

#title {
	text-align: center;
	color: #066E27;
	margin-bottom: 20px;
	font-family: 'Fjalla One', serif;
	font-size: 50px;
}

#success-message {
	padding-left: 50px;
	color: #181b21;
	margin-bottom: 50px;
}

#error-message {
	color: #ff3a30;
	margin-bottom: 10px;
	padding-left: 50px;
}

#error-message-udah {
	color: #ff3a30;
	margin-bottom: 10px;
	padding-left: 50px;
}

.userLabel {
	font-family: 'Arial', serif;
	color: #066E27;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}

#checkbox {
	width: 15px;
	height: 15px;
}

#also {
	font-family: 'Arial', serif;
	color: #066E27;
	font-size: 18px;
	font-weight: 400;
	padding-top: 20px;
}

.also2 {
	margin-top: 25px;
}

#already {
	margin-top: 30px;
	display: inline-block;
}

#register {
	padding: 9px 4px;
	background-color: #7ED808;
	border-radius: 5px;
	font-weight: bold;
	border: 2px solid black;
	font-family: 'Times New Roman', sans-serif;
	font-size: 18px;
	color: #262626;
	float: right;
	margin-top: 20px;
}

table td {
	width: 40%;
}

#box {
	height: 20px;
	border: 1px solid #066E27;
	padding: 5px;
	width: 140%;
}

#boxbeda {
	height: 20px;
	width: 115%;
	border: 1px solid #066E27;
	padding: 5px;
}

.checked {
	color: #066E27;
	float: right;
	margin-right: 20px;
}